<!-- Services Section -->
<section id="layanan" class="services">
    <div class="services__container">
        <!-- Section Header -->
        <div class="services__header">
            <h2 class="services__title" data-translate="services.title">Layanan Unggulan Kami</h2>
            <p class="services__subtitle" data-translate="services.subtitle">
                Solusi pengiriman untuk setiap kebutuhan bisnis Anda
            </p>
            <p class="services__description" data-translate="services.description">
                MiWebMusicStore menyediakan berbagai layanan logistik yang disesuaikan dengan kebutuhan bisnis modern, dari pengiriman kilat hingga layanan pergudangan.
            </p>
        </div>
        
        <!-- Services Grid -->
        <div class="services__grid">
            <!-- Service 1: Express Same Day -->
            <div class="services__card services__card--express">
                <div class="services__icon-wrapper">
                    <iconify-icon 
                        icon="heroicons:rocket-launch-solid" 
                        class="services__icon"
                    ></iconify-icon>
                </div>
                <h3 class="services__card-title" data-translate="services.items.0.title">Express Same Day</h3>  
                <p class="services__card-description" data-translate="services.items.0.description">
                    Pengiriman kilat di hari yang sama untuk wilayah Jabodetabek
                </p>
                <a href="#" class="services__card-link">
                    <span class="services__card-link-text" data-translate="services.learnMore">Pelajari</span>
                    <iconify-icon 
                        icon="heroicons:arrow-right-solid" 
                        class="services__card-link-icon"
                    ></iconify-icon>
                </a>
            </div>
            
            <!-- Service 2: Regular Cargo -->
            <div class="services__card services__card--cargo">
                <div class="services__icon-wrapper">
                    <iconify-icon 
                        icon="heroicons:cube-solid" 
                        class="services__icon"
                    ></iconify-icon>
                </div>
                <h3 class="services__card-title" data-translate="services.items.1.title">Regular Cargo</h3>
                <p class="services__card-description" data-translate="services.items.1.description">
                    Pengiriman ekonomis untuk barang dalam jumlah besar
                </p>
                <a href="#" class="services__card-link">
                    <span class="services__card-link-text" data-translate="services.learnMore">Pelajari</span>
                    <iconify-icon 
                        icon="heroicons:arrow-right-solid" 
                        class="services__card-link-icon"
                    ></iconify-icon>
                </a>
            </div>
            
            <!-- Service 3: Warehouse Service -->
            <div class="services__card services__card--warehouse">
                <div class="services__icon-wrapper">
                    <iconify-icon 
                        icon="heroicons:building-storefront-solid" 
                        class="services__icon"
                    ></iconify-icon>
                </div>
                <h3 class="services__card-title" data-translate="services.items.2.title">Warehouse Service</h3>
                <p class="services__card-description" data-translate="services.items.2.description">
                    Layanan pergudangan dengan sistem manajemen modern
                </p>
                <a href="#" class="services__card-link">
                    <span class="services__card-link-text" data-translate="services.learnMore">Pelajari</span>
                    <iconify-icon 
                        icon="heroicons:arrow-right-solid" 
                        class="services__card-link-icon"
                    ></iconify-icon>
                </a>
            </div>
            
            <!-- Service 4: International -->
            <div class="services__card services__card--international">
                <div class="services__icon-wrapper">
                    <iconify-icon 
                        icon="heroicons:globe-asia-australia-solid" 
                        class="services__icon"
                    ></iconify-icon>
                </div>
                <h3 class="services__card-title" data-translate="services.items.3.title">International</h3>
                <p class="services__card-description" data-translate="services.items.3.description">
                    Pengiriman internasional ke lebih dari 200 negara
                </p>
                <a href="#" class="services__card-link">
                    <span class="services__card-link-text" data-translate="services.learnMore">Pelajari</span>
                    <iconify-icon 
                        icon="heroicons:arrow-right-solid" 
                        class="services__card-link-icon"
                    ></iconify-icon>
                </a>
            </div>
        </div>
    </div>
</section>
